@font-face {
  font-family: "Sedgwick Ave Display";
  src: url("yazitipi.woff2") format("woff2");
}
@font-face {
  font-family: "Prata";
  src: url("path/to/prata-font.woff2") format("woff2"),
    url("path/to/prata-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 40px;
  background-color: #f3f3f3;
  color: #d1193e;
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
}

.sayac {
  text-align: center;
  margin-top: 50px;
}

.sayac-container {
  background-color: #fb9ec4;
  color: #fff;
  font-size: 48px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.dugme-container {
  margin-top: 20px;
}
button {
  padding: 10px 20px;
  font-family: "Prata", cursive;
  font-size: 15px;
  font-weight: bold;
  background-color: #ff6fa5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}
#saatIkonu {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  vertical-align: middle;
  animation: moveWatch 4s linear infinite alternate;
}
@keyframes moveWatch {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}
